[submodule ".vim/bundle/vim-bufonly"]
	path = .vim/bundle/vim-bufonly
	url = https://github.com/schickling/vim-bufonly
[submodule "Extensions/nvm"]
	path = Extensions/nvm/nvm
	url = https://github.com/creationix/nvm.git
	branch = master
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-jsdoc"]
	path = .vim/bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "Extensions/rsync-time-backup/rsync-time-backup"]
	path = Extensions/rsync-time-backup
	url = https://github.com/laurent22/rsync-time-backup.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "/home/jtheriault/.vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
